/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


  /*navbar mobliel bot-nav bot-nav-link*/
.covid-info{
  display: block!important;
}
.covid-link a, p{
  color: #3f2619!important;
  font-weight: 400;
}

.covid-link a {
  color: #ffffff!important;
  font-weight: 400!important
}

.mobile-only{
  display: none!important;
}

.bot-nav{
  display: none;
}
@media only screen and (max-width : 600px)
{

  .impressum h1{
    font-size: 40px;
  }

  .impressum h2{
    font-size: 32px;
  }

  .impressum h3{
    font-size: 25px;
  }


  .img-centered p {
    font-size: 0.9em;
    line-height: 1.1!important;
  }


  .img-mbl{
    display: flex!important;
    width: 100%;
  }
  .img-wp {
    display: none!important;
  }

  .img-container img {
    overflow: hidden;
    height: 92vh;
  }


  .img-centered{
    top: 50%!important;
  }

  .navbar-fixed{
    display: none;
  }
  body {
    margin: 0 0 8vh 0;
  }
  .bot-nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 4;
    height: 8vh;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color: #f7f0ec;/* #06ABD1;*/
    display: flex;
    overflow-x: hidden;
    vertical-align: middle;
  }
  .bot-nav-link {
    display: flex;
    flex-grow: 1;
    height: 8vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    min-width: 10px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
    -webkit-tab-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }

  .bot-nav-link:hover{
    background-color: #efdfd7;
  }

  .bot-nav-link i {
    font-size: 25px;
  }
}
 /**/
body{
  color: #3f2619;
}
.black-text{
  color: #3f2619;
}
 .img-container{
  position: relative;
  font-family: "Felt That";
  font-size: 7em!important;
  text-transform: none;
}


.img-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%,-50%);
}

.img-top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.img-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

 .navbar-fixed, nav, .nav-wrapper{
  height: 100px!important;
  line-height: 100px;
}

.brand-logo{
  margin: 5px;
}
.brand-logo img{
  height: 90px!important;
}

nav ul a,
nav .brand-logo {
  color: #3f2619;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {

  .mobile-only{
    display: block!important;
  }

  #index-banner .section {
    top: 0;
  }


  .price table, thead, tbody, th, td, tr {
		display: block;
	}

  .price thead tr {
    display: none;

}

.price td {
  /* Behave  like a "row" */
  display: block!important;
  position: relative;
  padding-left: 40%;
}

	.price td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0px;
		left: 6px;
		width: 35%;
		padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
		white-space: nowrap;
    text-align: left;
    font-weight: bolder;
	}

	/*
	Label the data
	*/
  .price td:nth-of-type(1):before { content: "Behandlung"; }
	td:nth-of-type(2):before { content: "Dauer"; }
	td:nth-of-type(3):before { content: "Kosten"; }
}

}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.impressum p, h1, h2, h3, li, a{
    white-space: pre-wrap;
    word-break: break-word;
}

.green-text {
  color: #00789E !important;
}

.green {
  background-color: #06abd1 !important;
}
body{
  font-family: 'brandon-grotesque', 'Cocogoose Pro', Helvetica, sans-serif;
  text-transform: uppercase
}

li{
  font-weight: 500;
}

.intro-text{
  font-weight: 500;
  font-style: normal;
  text-align: left;
  left: 5px;
}

.intro-par { width: 100%; position: relative;   top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


  .fa {
    font-size: 25px!important;
    width: 50px!important;
    height: 50px!important;
    text-align: center!important;
    vertical-align: middle!important;
    line-height: 50px!important;
    text-decoration: none!important;
    border-radius: 50%!important;
  }

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;


  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, 25%);
}


.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2147483645;
  box-sizing: border-box;
  width: 100%;

  background-color: #F1F6F4;
}

.cookie-consent-banner__inner {     
  max-width: 960px;
  margin: 0 auto;
  padding: 32px 10px 10px 10px;
}

.cookie-consent-banner__copy { 
  margin-bottom: 16px;
}

.cookie-consent-banner__actions {    
}

.cookie-consent-banner__header {
  margin-bottom: 8px;
  
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.cookie-consent-banner__description {
  font-weight: normal;
  color: #838F93;
  font-size: 12px;
  line-height: 18px;
}

.cookie-consent-banner__cta {
  padding: 2px;
  box-sizing: border-box;
  display: inline-block;
  min-width: 164px;
    
  border-radius: 5px;
  
  background-color: #00789E;
   
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.cookie-consent-banner__cta--secondary { 
  border: 2px solid #00789E;
  padding: 0px;
  
  background-color: transparent;
  color: black;
}

.cookie-consent-banner__cta:hover {
  background-color: #00799edc;
}

.cookie-consent-banner__cta--secondary:hover {
  border-color: #00799edc;
    
  background-color: transparent;
}

.cookie-consent-banner__cta:last-child {
  margin-left: 16px;
}